<!--Create a controller action, get '/posts/:id/edit',
that renders the view, edit.erb. This view should contain a form
to update a specific blog post and POSTs to a controller action,
patch '/posts/:id-->
<form method="post" action="/posts/<%=@post.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name<input type="text" value="<%=@post.name%>" name="name">
  Contents<input type="text" value="<%=@post.content%>" name="content">
  <input type="submit" value="submit">
</form>
